.logo{
  max-width: 200px;
}
.header,
.footer{
  padding: 1rem;
  color: var(--bs-white);
  background-color: var(--bs-brand);
}
.main-page{
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin:2rem auto;
  max-width: 1100px;
  min-height: calc(100vh - 185px);
}
.page-heading{
  margin-bottom: 1rem;
}
.table-wrapper{
  overflow-x: scroll;
  padding: 1rem;
  border: solid var(--bs-gray-100) 0.2rem;
}
.table {
  position: relative;
  width: 100%;
}
.table tr{
  border-bottom: 1px solid #dee2e6;
}
.table thead{
  background: var(--bs-gray-200);
}
.table tr:nth-child(even) {
  background: var(--bs-gray-100);
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  text-align: left;
}
.stock-list-heading{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.search input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 10px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid var(--bs-gray-200);
  border-radius: inherit;
  min-width: 200px;
}
.quotes-sort{
  display: inline-block;
  cursor: pointer;
}
.quotes-sort .sort{
  font-size: 14px;
  display: inline-block;
  padding: 0px 5px;
}

.quotes-sort .asc{
  transform: rotate(-90deg);
}
.quotes-sort .desc{
  transform: rotate(90deg);
}
.breadcrumb-list{
  display: flex;
  margin-bottom: 1rem;
}
.breadcrumb-list li{
  list-style: none;
  padding: 5px ;
}
.breadcrumb-item{
  position: relative;
  margin-right: 1rem;
}
.breadcrumb-list .active:after{
  content: " / ";
  position: absolute;
  top: 5px;
  left: -10px;
}

/* ----- */
.loder-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  left: 0;
  top: 0;
  cursor: progress;
  background-color:rgba(0,0,0,0.8);
}
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--bs-white);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.product-thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px !important;
}
.product-thumbnail-image{
  
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.product-checkbox {
  transform: scale(1.5);
}
.filter-categories{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.filter-categories-item{
  list-style: none;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.download-csv{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem 2rem;
  color: var(--bs-white);
  text-decoration: none;
  background-color: var(--bs-brand);
  border-radius: 2rem;
  border:2px solid var(--bs-white)
}
.detail-page-image img{
  width: 100%;
  height: auto;
  object-fit: contain;
  border: 2px solid var(--bs-gray-100);
  padding: 1rem;
}
.detail-page-content{
  padding: 3rem 0;
}
.detail-page td{
  width: 50%;
}
.mb-1{
  margin-bottom: 0.5rem;
}
.mb-2{
  margin-bottom: 1rem;
}
.mt-2{
  margin-top: 1rem;
}
.product-row-active{
  background-color: #c5dfff !important;
}
@media only screen and (max-width: 600px) {
  .table td, .table th {
  font-size: 12px;
}
}